<h1>Burger Bucket List</h1>
<br>

<div style="margin-left: 4%;" class="listContainers col-md-4 col-sm-12 col-xs-12">
  <h2>Burgers that have been eaten</h2>
<br>
<ul>
  {{#each burgers}}
    {{#unless hungry}}
      {{> burgers/burger-block hungry=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="imageContainer col-md-3 col-sm-12 col-xs-12">
  <img src="https://img.icons8.com/doodle/96/000000/hamburger.png" />
</div>

<div  class="listContainers col-md-4 col-sm-12 col-xs-12" >
  <h2>Burgers that I still need to try</h2>
<br>
<ul>
  {{#each burgers}}
    {{#if hungry}}
      {{> burgers/burger-block hungry=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
<br>

<hr style="border: solid black 0.8px; ">
<br>
<div  class="col-md-5 col-sm-12 col-xs-12 float-left">
  <h2>Add a Burger</h2>
<form style="margin-left: 4%;" class="create-form">

  <div class="form-group">
    <label for="ca">Name of Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="hungry">Have you eaten it before??</label><br>
    <input type="radio" name="hungry" value="1" checked> No I havent<br>
    <input type="radio" name="hungry" value="0"> Yes I have
  </div>

  <button class="create-from" type="submit">Add Burger</button>
</form>
</div>

<div class="col-md-5 col-sm-12 col-xs-12 float-right">
  <h2>Update Burger</h2>

<div class="row">
<form id="updateBurger" class="button-size">
    <textarea id="textAreaUpdate"type="text" name="updateBurger" placeholder="Burger"></textarea>
  <select name="id">
    {{#each burgers}}
    <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <button id="updateBurgerBtn" type="submit">Update Burger!!</button>
</form>


</div>

</div>

